$hero-height: 20rem;

html {
  font-size: 62.5%;
  body {
    font-family: 'Century Gothic', Futura, sans-serif;

    .main-container {
      .hero-container {
        min-height: $hero-height;
        background-image: url('/assets/tic-tac-toe-hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;

        .title-container {
          min-height: $hero-height;
          display: flex;
          flex-direction: column;
          justify-content: center;

          h2 {
            font-size: 4rem;
            color: #fff;

            .player-turn {
              color: #aaa;
            }
          }
        }
      }

      .game-container {
        background-image: url('/assets/background-half-grey.jpg');
        background-position-x: center;
        min-height: 80vh;
        padding-top: 8%;

        .panel-inner-container {
          max-width: 300px;
          margin: 2px auto;

          .box-wrapper {
            height: 10rem;
            width: 10rem;
            margin: -2px;
            background: #fff;
            border: 1px solid #999;
            font-size: 24px;
            font-weight: bold;
            line-height: 34px;
            outline: none;
          }
        }
      }
    }

    /* More.*/
    // TODO: Refactoring

    ol,
    ul {
      padding-left: 30px;
    }

    .panel-row:after {
      clear: both;
      content: '';
      display: table;
    }

    .status {
      margin-bottom: 10px;
    }

    .box:focus {
      outline: none;
    }

    .kbd-navigation .box:focus {
      background: #ddd;
    }

    .game-info {
      margin-left: 20px;
    }
  }
}
