/********************************************************/

/* Vars */
$hero-height: 20rem;
$font-family: 'Century Gothic', Futura, sans-serif;
$hero-img-url: '/assets/tic-tac-toe-hero.jpg';
$hero-title-font-size: 4rem;
$boxes-font-size: 2.4rem;

$game-background-img: '/assets/background-half-grey.jpg';
$panel-width: 30rem;

/* Colors */
$disabled-color: #d3d3d3;
$font-white: #fff;
$font-gray: #aaa;

$background-white: #fff;
$background-gray: #999;

$color-player-x: #0071de;
$color-player-o: #bf2c23;

$custom-dark-blue: #3e94a4;
$custom-dark-gray: #616161;
$custom-dark-green: #006583;
$custom-light-blue: #37aac0;
$custom-dark-red: #8e2034;

$custom-light-yellow: #e2e900;
$custom-dark-yellow: #e0bd00;
$custom-cream: #d3d495;

/* Shadows */
$shadow-element-highlighted: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
  0 0 20px $custom-dark-green, 0 0 30px $custom-dark-green,
  0 0 40px $custom-dark-green, 0 0 50px $custom-dark-green,
  0 0 75px $custom-dark-green;

$shadow-hero-title: 5px 5px 5px #000;

/********************************************************/

html {
  font-size: 62.5%;
  body {
    font-family: $font-family;

    * {
      //transition: all 0.2s ease;
    }

    .main-container {
      &.player-X,
      &.winner-player-X {
        .hero-container {
          background-image: linear-gradient(
              rgba($color-player-x, 0.05),
              rgba($color-player-x, 0.5)
            ),
            url($hero-img-url);
        }

        .player-turn {
          color: lighten($color-player-x, 15%);
        }
      }

      &.player-O,
      &.winner-player-O {
        .hero-container {
          background-image: linear-gradient(
              rgba($color-player-o, 0.05),
              rgba($color-player-o, 0.5)
            ),
            url($hero-img-url);

          .player-turn {
            color: lighten($color-player-o, 15%);
          }
        }
      }

      .hero-container {
        min-height: $hero-height;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;

        .title-container {
          min-height: $hero-height;
          display: flex;
          flex-direction: column;
          justify-content: center;

          h2 {
            font-size: $hero-title-font-size;
            color: $font-white;
            text-shadow: $shadow-hero-title;

            .player-turn {
              // color: $font-gray;
            }
          }
        }
      }

      .game-container {
        background-image: url($game-background-img);
        background-position-x: center;
        min-height: 80vh;
        padding-top: 8%;

        .icon-button-container {
          .button-inner-container {
            display: inline-block;

            &.push-right {
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }

            &.disabled {
              svg {
                fill: $disabled-color;
              }
              .button-label {
                color: $disabled-color;
              }
            }

            &:not(.disabled) {
              cursor: pointer;

              &:hover {
                svg {
                  fill: $custom-dark-gray;
                }
                .button-label {
                  color: $custom-dark-gray;
                }
              }
            }
          }
        }

        .panel-inner-container {
          max-width: $panel-width;
          margin: 2px auto;

          .box-wrapper {
            height: $panel-width / 3;
            width: $panel-width / 3;
            margin: -2px;
            background: $background-white;
            border: 1px solid $background-gray;
            font-size: $boxes-font-size;
            font-weight: bold;
            line-height: $boxes-font-size;
            outline: none;

            &.player-X {
              color: $color-player-x;
            }

            &.player-O {
              color: $color-player-o;
            }

            &.highlighted {
              // color: $custom-dark-blue;
              text-shadow: $shadow-element-highlighted;
              font-size: 3rem !important;
            }
          }
        }
      }

      &.winner {
        .player-active {
          display: none !important;
        }
      }
    }
  }
}
